/*<Global>*/
* {
    margin: 0;
    padding: 0; 
}

html, body{
    height: 100%;
    background-color: #666;
    font-family:Verdana, Geneva, sans-serif;
    font-size: 10pt;
    color: #666;
}
h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
}
h6 {
    font-size: 10pt;
}
h5 {
    font-size: 12pt;
}
h4 {
    font-size: 14pt;
}
h3 {
    font-size: 16pt;
}
h2 {
    font-size: 18pt;
}
h1 {
    font-size: 20pt;
}
a{
    color: #666;
    text-decoration: underline;
}
a:hover{
    color: #222;    
    text-decoration: none;
}
ul {
    padding-left: 20px;
}
ul > li {
   
}

/*</Global>*/
/*<Layout>*/
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -100px;
}
.footer-fix {
    height: 100px;
    clear:both;
}
.page-footer {
    height: 99px;
    border-top: 1px solid #222;    
    background-color: #a4a4a4;
}
.page {
    overflow: hidden;
}
.page-header {
    height: 149px;
    background-color: #a4a4a4;
    overflow: hidden;
    border-bottom: 1px solid #222;
}

.page-content {
    border-radius: 5px;
    color: #666;
    overflow: hidden;
    width: 900px;
    margin: 10px auto;
}
/*</Layout>*/

/*<Header>*/
.page-header .page-header-content {
    width: 900px;
    margin: 0 auto;
}
.page-header .header-logo {
    height: 100px;
}
.page-header .header-loginInfo {
    height: 49px;
    float: right;
}
.page-header .header-navPanel {
    height: 49px;
    float: left;
    overflow: hidden;
}
.header-navPanel ul {
    list-style: none;
    float: left;
    overflow: hidden;
}
.header-navPanel ul > li {
    float: left;
    margin-right: 10px;
    overflow: hidden;
}
/*</Header>*/

/*<Content>*/

/*<ContentList>*/

.content-list {
    overflow:hidden;
    border: 1px dashed rgba(164, 164, 164, 0.50);
}

.content-list-item {
    overflow: hidden;
    background-color: #a4a4a4;
    border: 1px dashed rgba(73, 73, 73, 0.50);
    padding: 10px;
    border-radius: 5px;
    margin: 0 20px 20px 20px;
}
.content-list-header {
    margin-top: 0;    
    margin-left: -1px;
    margin-right: -1px;
}
.content-list-footer {   
    margin-bottom: 0; 
    margin-left: -1px;
    margin-right: -1px;
}
.content-list-header:first-child {
    margin-top: -1px;
}
.content-list-header:last-child {
    margin-bottom: -1px;
}

/*</ContetList>*/


/*</Content>*/

/*<Footer>*/
.page-footer .page-footer-content {
    width: 900px;
    margin: 0 auto;
}
/*</Footer>*/




/*<LoginBox>*/
.loginbox {

}
.loginbox-signinButton {
    width: 80px;
    height: 30px;
}
.loginbox-username {

}
.loginbox-password {

}
.loginbox-validatorText {

}
.loginbox-titleText {

}
.loginbox-checkbox {

}
.loginbox-textbox {

}
.loginbox-hyperlink {

}
.loginbox-label {

}
/*</LoginBox>*/



/*<Test>*/
.test {
}
.test .test-header {
    margin-bottom: 10px;
    display: block;
    font-size: 18pt;
    font-weight: 700;
}
.test .test-header a{
    display: block;
}
.test-content .test-question {
    padding: 10px;
}

.test-question .test-question-title {
    display: block;
    margin-left: -5px;
    margin-bottom: 5px;
    font-weight: 700;
}
.test .test-submit {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: -1px;
    color: #444;
    font-weight: 700;
    background: linear-gradient(#b4b4b4 60%, rgba(180, 180, 180, 0.60));
    
    cursor: pointer;
}
.test .test-submit:hover {
    background: linear-gradient(#bababa 60%, rgba(180, 180, 180, 0.60));
}
/*</Test>*/