<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="TestingSystem" connectionString="Data Source=DMITRY-PC\SQLEXPRESS;Initial Catalog=TestingSystem;User id=sa;Password=forger1993899;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <controls>
        <add tagPrefix="mcc" assembly="TestQuestionControls" namespace="TestQuestionControls"/>
      </controls>
    </pages> 
  <authentication mode="Forms">
    <forms loginUrl="/Login.aspx" />
  </authentication>
  <authorization>
    <allow users="*"/>
  </authorization>
  <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="15">
  <providers>
    <clear />
    <add 
      name="SqlProvider" 
      type="System.Web.Security.SqlMembershipProvider" 
      connectionStringName="TestingSystem"
      applicationName="TestingSystem"
      enablePasswordRetrieval="false"
      enablePasswordReset="false"
      requiresQuestionAndAnswer="false"
      requiresUniqueEmail="true"
      minRequiredPasswordLength="6" 
      minRequiredNonalphanumericCharacters="0"
      passwordFormat="Hashed" />
  </providers>
</membership>
  </system.web>
  <system.webServer>
    <httpErrors>
      <clear/>
      <error statusCode="404" path="/Errors/404.aspx"/>
    </httpErrors>
  </system.webServer>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>